.navbar {
  border-radius: 0px 0px 15px 15px;
}

.nav-link:hover {
-webkit-text-fill-color: transparent;
-moz-text-stroke-width: 1px;
-webkit-text-stroke-width: 1px;
-moz-text-stroke-color: #000000;
-webkit-text-stroke-color: #D5EBE7;
}

/* Definir tamaños de letra generales */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p,
a,
li {
  font-size: 1rem;
}

/*
h1, h2, h3, h4, h5, h6, p, a, li {
.overly{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
*/
