
<div class="body">
  <div class="box">
    <span class="borderline"></span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Inicio de sesión</h2>
      <!-- Para los mensajes de éxito o error en el envio a la BD-->
      <div *ngIf="responseMessage" [class]="isSuccess ? 'alert alert-success' : 'alert alert-danger'">
        {{ responseMessage }}
      </div>
      <div class="inputBox">
        <input id="email" type="text" formControlName="email" required="required">
        <span>Correo electrónico</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input id="password" type="password" formControlName="password" required="required">
        <span>Contraseña</span>
        <i></i>
      </div>
      <div class="links">
        <a>¿No tienes cuenta?</a>
        <a (click)="openRegisterDialog()">Registrarme</a>
      </div>
      <input type="submit" value="Iniciar sesión">
    </form>
  </div>
</div>


